<form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>Plik</span>
        <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  <!-- </form>

  <form action="#"> -->
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" />
        <span><img class="excelRadioImg" src="../../../assets/img/Excel1.png" alt="Wersja 1"></span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio" />
        <span><img class="excelRadioImg" src="../../../assets/img/Excel2.png" alt="Wersja 2"></span>
      </label>
    </p>
  </form>
  <a class="waves-effect waves-light btn-large excelSubmit" (click)="loadExcel()"><i class="material-icons left">save</i>Wczytaj Wybranego Excela</a>
