<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo hide-on-med-and-down" style=" background-color: white;"><img src="../assets/img/DuerrTitle.png" alt="DuerrTitle" class="z-depth-3" style="width: auto; height: 64px;"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/projects">Projekty</a></li>
        <li><a href="/virtual">Wirtualne</a></li>
        <li><a href="/orders">Wszystkie</a></li>
        <li><a href="/new">Nowe</a></li>
        <li><a href="/unfinished">Niedokończone</a></li>
        <li><a href="/finished">Zakończone</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="flexCenter" style="height: 64px;"><a href="#" class="material-icons" style="padding: 12px; font-size: 40px !important;">exit_to_app</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo" style="height: 100% !important;">
    <li class="flexCenter"><img src="../assets/img/DuerrTitle.png" alt="DuerrTitle" class="z-depth-3" style="width: auto; height: 64px; margin-top: 10px;"></li>
    <li><a href="/projects" class="blue-text text-darken-3">Projekty</a></li>
    <li><a href="/virtual" class="purple-text text-darken-3">Wirtualne</a></li>
    <hr>
    <li><a href="/orders">Wszystkie</a></li>
    <li><a href="/new" class="green-text text-darken-3">Nowe</a></li>
    <li><a href="/unfinished" class="yellow-text text-darken-3">Niedokończone</a></li>
    <li><a href="/finished" class="red-text text-darken-3">Zakończone</a></li>
    <hr>
    <li><a href="/admin">Admin</a></li>
    <li style="position: absolute; bottom: 0; width: 100%;"><a href="#">Wyloguj</a></li>
  </ul>  