<!-- Modal -->
<!-- <app-virtual-order-name-modal></app-virtual-order-name-modal> -->


<a class='dropdown-trigger btn-floating waves-effect pulse btn mergeOrdersButton' data-target='mergeOrdersButtonDropdown'><i class="material-icons">menu</i></a>
  <!-- Dropdown Structure -->
  <ul id='mergeOrdersButtonDropdown' class='dropdown-content' alignment='right'>
    <!-- <li (click)="changeMergeMode()" href="#virtualOrderNameModal"><a>Wirtualne zamówienie</a></li> -->
    <li><a href="#virtualOrderNameModal" class="modal-trigger">Wirtualne zamówienie</a></li>

    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">two</a></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>